
@font-face {
    font-family: "Handmew";
    font-style: normal;
    font-weight: 400;
    src: url(Pangolin-Regular.ttf);
}

.freackin-tilt-left {
    transform: rotate(-2deg);
    transition: transform 0s;
}

.point-of-interest {
    opacity: 0.1;
}

.point-of-interest:hover {
    opacity: 1;
}

.point-of-interest:active {
    opacity: 1;
}

/* ЛОУ-КЕЙ ТРЯСКА : */

@keyframes shake {
    0% { transform: translate(0),rotate(-2deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-20px, 20px); }
    20%, 40%, 60%, 80%, 100% { transform: translate(20px, -20px); }
}

.whole-mf-page-shake {
    animation: shake 0.4s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(-180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }

* {
    font-family: Handmew;
}

/* ВЫПАДАЮЩЕЕ МЕНЮ */
.menu {
    order: 999;
    margin-left: auto;
    user-select: none;
}

.menu-btn {
    padding: 12px 18px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    min-width: 10vw;
    font-size: 25px;
    position: relative;
    float: right;
}

.menu-btn.active {
    border-radius: 15px 15px 0px 0px;
}

.menu-items {
    display: none;
    width: 100%;
    left: 0;
    border-radius: 15px 0px 15px 15px;
    border-top: none;
    overflow: hidden;
}

.menu-items button {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    font-size: 22px;
    cursor:pointer;
}

.menu.show .menu-items {
    display: block;
}

.header-text {
    border: none;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 15px;
    min-width: 10vw;
    font-size: 22px;
    position: relative;
}

.header-header {
    padding: 15px 15px;
    border-radius: 15px 15px 15px 15px;
    min-width: 10vw;
    position:relative;
    margin-left: auto;
}

.header-hide {
    padding: 10px 15px;
    min-width: 10vw;
    font-size: 20px;
}

.header-img {
    max-width: 100px;
    height: auto;
    max-height: 105px;
    border-radius: 13px;
    display: none;
    cursor:pointer;
}

.main-bottom-img {
    max-width:50%;
    height: auto;
    margin-left: 25%;
    border-radius: 13px;
}

hr {
  margin-top: 2px;
  margin-bottom: 9px;  
  height: 2px;
  border: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: 20px;
}

header {
    border-top: 0;
    border-radius: 0px 0px 30px 30px; /* Скругляем углы рамки у блока header */
    margin: 17px; /* Добавим margin для создания внутренних отступов */
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

footer {
    margin-top: auto;
    border-bottom: 0;
    border-radius: 30px 30px 0px 0px; /* Скругляем углы рамки у блока footer */
    margin: 17px; /* Добавим margin для создания внутренних отступов */
    margin-bottom: auto;
}

main {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-radius: 30px; /* Добавим закругление углов рамки */
    padding: 20px; /* Уменьшим отступ для рамки вокруг блока */
    margin: 25px; /* Добавим margin для создания внутренних отступов */
    flex-direction: column;
}

.main-block-bottom {
    border-radius: 10px;
    margin-top: auto; /* меняем margin-bottom на margin-top и добавляем auto */
}

.main-up-first {
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    border-radius: 15px;
}

/* .main-up-first-right {
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
} */

.main-up-second {
    margin-left: 1vw;
    margin-top: auto;
}

.main-up-second-bottom {
    float: right;
    margin-left: 1vw;
    margin-top: auto;
}

.footer-img {
    max-width: 60px;
    height: auto;
}

.footer-down {
    text-align: left;
    margin-right: 7vw;
    float: right;
    font-size: 15px;
    letter-spacing: 0.2vw;
}
.mail-button {
    border: none;
}

.neromybeloved-img {
    max-width: 200px;
    width: 30%;
    margin: 0 auto;
    flex:1;
    border-radius: 15px;
}

.zovichok-meet140 {
    width: auto;
    max-width: 100px;
    max-height: 110px;
    flex:1;
}

.btn-that-hunt-devils {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

details > summary::marker {
    display: none;
    content: '';
}

.clickable-li {
    list-style-type: disclosure-closed;
}

.main-tablehopper-svg {
    height: auto;
    max-width: 16vh;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
}

/* .main-tablehopper-svg {
    height: auto;
    max-width: 15vh;
    margin-top: 2vh;
    margin-bottom: 5vh;
    float: left;
} */

.main-tablehopper-first {
    display: block;
    float: left;
    margin-top: 8vh;
    margin-left: 2vh;
}

.main-tablehopper-second {
    display: block;
    margin-top: 29.5vh;
    margin-left: 20vh;
}

.main-tablehopper-thirth {
    display: block;
    float: left;
    margin-top: 16vh;
    margin-left: 2vh;
}

.main-tablehopper-first-c {
    font-size: 21px;
}

.text-in-ramka {
    margin-left: 2vw;
    margin-right: 4vw;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    border: 1.3px solid rgb(122, 122, 122);
    padding: 10px;
    border-radius: 15px;
}

.veto4ka-hr {
    max-width: 90%;
    margin-left: 2vw;
    margin-right: auto;
}

.veto4ka-hr-backdown {
    max-width: 90%;
    margin-left: 2vw;
    margin-right: auto;
}

.veto4ka-hr-netural {
    max-width: 90%;
    margin-left: 2vw;
    margin-right: auto;
}

.work-block {
    height: 100%;
    width: auto;
    line-height: 30px;
    border-radius: 30px;
}

.work-block-title {
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 26px;
    margin-left: 18px;
}

.work-block-undertitle {
    display: inline-block;
    padding: 5px;
    font-size: 17px;
    margin-left: 17px;
    margin-right: 17px;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: left;
    margin-top: 5px;
    line-height: 19px;
}

.work-marks-and-btn-cont {
    height: 100%;
    width: auto;
    border-radius: 40px;
}

.work-marks-and-btn-cont-img {
    height: 100%;
    width: auto;
    border-radius: 30px;
}

.work-block-desc {
    margin: 10px;
    margin-left: 17px;
    line-height: 26px;
    font-size: 23px;
    margin-bottom: 15px;
}

.work-block-marks {
    margin: 13px;
    margin-top: 5px;
    margin-bottom: 18px;
}

.work-block-img {
    max-width: 95%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.work-block-mark-1 {
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 20px;
}

.work-block-mark-2 {
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 20px;
}

.work-block-mark-3 {
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 20px;
}

.work-block-btn {
    order: 999;
    margin-left: auto;
}

.work-block-btn-inside {
    border: 2px solid black;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 35%;
    width: 52px;
    height: 52px;
}

.work-block-btn-inside-img {
    width: 35px;
    height: 35px;
    margin: -10px;
}

.work-marks-and-btn-cont {
  display: flex;
  flex-flow:nowrap;
}

.work-marks-and-btn-cont-img {
    display: flex;
    flex-flow:nowrap;
    overflow: hidden;
  }

.popup-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    z-index: 10000;
}

.popup-window-text {
    font-size: 20px
}

.work-block-colormark {
    position: absolute;
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.work-block-colormark-2 {
    position: absolute;
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: underline;
}

.work-block-colormark-3 {
    margin: 7px;
    padding: 7px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left:-2%;
}

.artistic-text {
    white-space: pre-wrap;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 1px;
    font-size: 20px;
}

.main-block-leftfloat {
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    padding-top: 1vw;
    text-align: center;
    border-radius: 150px;
    height: 45px;
    width: 45px;
}

#popupwindowbtn {
    border-radius: 13px;
    padding: 6px;
}

.arrowback-img {
    height: 30px;
    width: 30px;
}

.art-info-btn {
    float: left;
    margin-left:20px;
    height: 45px;
    width: 80px;
}

