/* МОБИЛЫ */
@media screen and (max-width: 768px) {
    body {
      font-size: 1rem; /* Уменьшаем размер шрифта на маленьких экранах */
    }
    .header-header {
      margin-bottom: 15px;
      margin-right: auto;
    }
    .header-hide {
      margin-top: 3px;
    }
    .menu {
      margin-right: 30px;
    }
    .header-img {
      margin-left: 8px;
  }
  .main-up-first {
    text-align: center;
    font-size: 20px;
    padding: 7px;
}
.main-up-first-right {
  text-align: center;
  font-size: 20px;
}

.main-up-second {
    margin-left: 1vw;
    margin-top: auto;
    font-size: 20px;
}
.main-up-second-bottom {
  font-size: 20px;
}
.main-tablehopper-svg {
  max-width: 13vh;
  margin-left: 3.5%;
}
.main-tablehopper-first {
  margin-top: 7.5vh;
}
.main-tablehopper-second {
  margin-top: 25vh;
  margin-left: 18vh;
}
.main-tablehopper-thirth {
  margin-top: 11vh;
}
.neromybeloved-img {
  margin: 0 auto;
  max-width: 200px;
  width: 49%;
  border-radius: 15px;
}
.work-block {
  margin-left: 1vw;
  margin-right: 1vw;
}
.main-bottom-img {
  max-width:200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.main-footer-special {
  margin-top: 12vw;
}
footer {
  margin-top: 0px;
}
.arrowback-img {
  margin-top: 5px;
}
main {
  padding: 10px; /* Уменьшим отступ для рамки вокруг блока */
  margin: 10px; /* Добавим margin для создания внутренних отступов */
}
}

  

/* МОНИКИ */
 @media screen and (min-width: 769px) {
* {
  font-size: 1.05em;
}

.menu {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  }
.header-img {
  margin-left: 10px;
  margin-top: 10px;
}
body {
  margin-left: 10vw;
  margin-right: 10vw;
}
.main-up-first {
  padding: 7px;
  padding-left: 11px;
  margin-right: 50%;
}

.main-up-first-right {
  padding: 7px;
  padding-left: 11px;
  margin-right: 50%;
}
.main-up-second {
  font-size: 22px;
}

.main-up-second-bottom {
  font-size: 22px;
}
.main-up {
  margin-left: 3%;
}

.header-header {
  margin:auto;
}
.main-tablehopper-svg {
  margin-left: 3vh;
}
.neromybeloved-img {
  padding: 7px;
  max-width: 200px;
  width: 49%;
}
.work-block {
  margin-right: 18vw;
}
.main-bottom-img {
  max-width:30vw;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.main-footer-special {
  margin-top: 12vw;
}
footer {
  margin-top: 0px;
}
}

/* БОЛЬШИЕ МОНИКИ */
@media screen and (min-width: 1151px) { 
  * {
    font-size: 1.05em;
  }

  .main-up {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .footer-up {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .neromybeloved-img {
    padding: 7px;
  }
  .work-block {
    margin-right: 16vw;
  }

  .work-block-img {
    margin-left: 10px;
  }

  .main-bottom-img {
    max-width:20vw;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .main-footer-special {
    margin-top: 12vw;
  }
  footer {
    margin-top: 0px;
  }
  }
  