/* МОБИЛЫ */
@media screen and (max-width: 768px) {
    body {
      font-size: 1.2rem; /* Уменьшаем размер шрифта на маленьких экранах */
    }
    .header-header {
      margin-bottom: 15px;
      margin-right: auto;
    }
    .header-hide {
      margin-top: 3px;
    }
    .menu {
      margin-right: 30px;
    }
    .header-img {
      margin-left: 8px;
  }
  .main-up-first {
    text-align: center;
    font-size: larger;
    padding: 7px;
}
.main-up-first-right {
  text-align: center;
  font-size: larger;
}

.main-up-second {
    margin-left: 1vw;
    margin-top: auto;
    font-size: 1.1em;
}
.main-up-second-bottom {
  font-size: large;
}
.main-tablehopper-svg {
  max-width: 12vh;
}
.main-tablehopper-first {
  margin-top: 6.5vh;
}
.main-tablehopper-second {
  margin-top: 23vh;
  margin-left: 14vh;
}
.main-tablehopper-thirth {
  margin-top: 9.5vh;
}
.neromybeloved-img {
  width: 32.5vw;
  margin: 0 auto;
  margin-left: 1vw;
}
.work-block {
  margin-left: 1vw;
  margin-right: 1vw;
}
.main-bottom-img {
  max-width:60vw;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.main-footer-special {
  margin-top: 12vw;
}
footer {
  margin-top: 0px;
}
.arrowback-img {
  margin-top: 5px;
}
  }
  

/* МОНИКИ */
 @media screen and (min-width: 769px) {
* {
  font-size: 1.01em;
}

.menu {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  }
.header-img {
  margin-left: 10px;
  margin-top: 10px;
}
body {
  margin-left: 10vw;
  margin-right: 10vw;
}
.main-up-first {
  padding: 7px;
  padding-left: 11px;
  margin-right: 50%;
}

.main-up-first-right {
  padding: 7px;
  padding-left: 11px;
  margin-right: 50%;
}
.main-up-second {
  font-size: larger;
}

.main-up-second-bottom {
  font-size: larger;
}
.main-up {
  margin-left: 3%;
}

.header-header {
  margin:auto;
}
.main-tablehopper-svg {
  margin-left: 3vh;
}
.neromybeloved-img {
  width: 25vw;
  padding: 7px;
  padding-left: 11px;
}
.work-block {
  margin-right: 18vw;
}
.main-bottom-img {
  max-width:30vw;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.main-footer-special {
  margin-top: 12vw;
}
footer {
  margin-top: 0px;
}
}

/* БОЛЬШИЕ МОНИКИ */
@media screen and (min-width: 1151px) { 
  * {
    font-size: 1.04em;
  }

  .main-up {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .footer-up {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .neromybeloved-img {
    width: 25vw;
    padding: 7px;
    padding-left: 11px;
  }
  .work-block {
    margin-right: 16vw;
  }

  .work-block-img {
    margin-left: 10px;
  }

  .main-bottom-img {
    max-width:20vw;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .main-footer-special {
    margin-top: 12vw;
  }
  footer {
    margin-top: 0px;
  }
  }
  